.navigating{
    width: 70%;
    height: 100%;
    border-radius: 10px;
}
.navigating :global(.active){
    background-color: rgb(24, 188, 188);
    color: white;
}
.login{
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    align-items: center;
    justify-content: space-around;
}
@media (max-width: 568px) {
    .navigating{
        width: 90%;
    }
}